#divChart{
    display: block;
    width: 900px;
    height: 800px;
}

table td {
    position: relative;
  }
  
table td input {
position: absolute;
display: block;
top:0;
left:0;
margin: 0;
height: 100% !important;
width: 100%;
border-radius: 0 !important;
border: none;
padding: 10px;
box-sizing: border-box;
}